@import 'src/styles/colors';
@import 'src/styles/mediaquerys';
@import 'src/styles/mixins';

.wrapper {
  @include flexContainer(center, center, column);
  width: 100%;
}

.items {
  width: 100%;
  padding: 1rem 0;
  @media (min-width: $medium) {
    width: 100%;
    padding: 1rem 0;
  }
}
