@import 'src/styles/mixins';
@import 'src/styles/mediaquerys';

.wrapper {
  @include flexContainer(center, center, column);
  width: calc(100% - 4px);
  border: 2px solid black;
  p {
    padding-bottom: 1rem;
  }
}

.formWrapper {
  @include flexContainer(center, center);
  padding: 1rem;
  width: calc(100% - 2rem);
}

.formControl {
  width: 10rem;
  @media (min-width: $medium) {
    width: 25rem;
  }
}

.formButton {
  margin-top: calc(1rem - 5px);
}
