@import 'src/styles/mixins';

.wrapper {
  @include flexContainer(center, center, column);
  width: 100%;
  border: 2px solid black;
  padding: 2rem;
}

.formWrapper {
  @include flexContainer(center, center);
  padding-bottom: 1rem;
}
