@mixin flexBox {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  @include flexBox;
  top: 0;
  width: 100%;
  position: absolute;
  top: 0;
}

a {
  text-decoration: none;
}

.title {
  font-size: 46rem;
  text-transform: uppercase;
  align-self: start;
  margin-top: -6px;
  color: #1c95ff;
  margin-top: -32px;
  margin-left: -20px;
  line-height: 0.6;
  letter-spacing: -69px;
  font-variant: all-petite-caps;
}
