@import 'src/styles/colors';

@mixin flexBox {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: $white;
}

.wrapper {
  @include flexBox;
  top: 0;
  width: 100%;
  position: absolute;
  top: 0;
}

.title {
  font-size: 20rem;
  text-transform: uppercase;
  align-self: start;
  color: #1c95ff;
  margin-top: 0;
  margin-left: -20px;
  line-height: 0.7;
  letter-spacing: -13px;
  mix-blend-mode: color-dodge;
}
