$redPrimary: #ff0000;
$redPale: #d02d00;
$tunaBlack: #33343d;
$black: #000000;
$white: #ffffff;
$beachSand: #f7edec;

:export {
  redPrimary: $redPrimary;
  blacl: $black;
  tunaBlack: $tunaBlack;
  white: $white;
  beachSand: $beachSand;
}
