@import 'src/styles/colors';
@import 'src/styles/mixins';
@import 'src/styles/mediaquerys';

body {
  background-color: $beachSand;
}

.wrapper {
  @include flexContainer(flex-start, right, row);
  flex-wrap: wrap;
  top: 0;
  padding: 0.3rem 0.5rem;
  margin-right: 0;
  position: absolute;

  @media (min-width: $xSmall) and (max-width: $small) {
    // iphone 5
    padding: 0.3rem 1.5rem;
    width: 19rem;
  }
  @media only screen and (min-width: $small) and (max-width: $lSmall) {
    // iphone 6
    width: 22.5rem;
  }
  @media only screen and (min-width: $sMedium) and (max-width: $medium) {
    // iphone 6+
    width: 25rem;
  }
  @media (min-width: $lMedium) and (max-width: $large) {
    //ipad
    width: 55rem;
  }
  @media (min-width: $xLarge) {
    // desktop
    margin: 0 3rem 0 0.3rem;
    padding: 0.3rem 0.3rem;
  }
}

.title {
  font-size: 10.5rem;
  text-transform: uppercase;
  align-self: start;
  color: $beachSand;
  -webkit-text-stroke: 2px $redPale;
  margin-top: 0;
  margin-left: -20px;
  line-height: 0.7;
  transition: all 1s;
  @media only screen and (min-width: $sMedium) and (max-width: $medium) {
    // iphone 6+
    font-size: 10.5rem;
    margin-left: -5px;
  }
  @media (min-width: $lMedium) and (max-width: $large) {
    //ipad
    margin-left: -5px;
    font-size: 21rem;
  }
  @media (min-width: $large) {
    font-size: 20rem;
  }
  &:hover,
  :focus {
    letter-spacing: 4rem;
    color: $redPale;
  }
}
