.wrapper {
  width: 100%;
}

.linkDrawer {
  height: 34px;
  overflow: hidden;
  transition: all 0.4s linear;
}

.open {
  // height: 10rem;
  height: calc(100% - 1px);
  transition: all 1s linear;
}
