@import 'src/styles/mediaquerys';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22.5rem;
  overflow-x: hidden;
  margin: auto;
  @media (min-width: $xSmall) and (max-width: $small) {
    // iphone 5
    width: 21.5rem;
  }
  @media only screen and (min-width: $small) and (max-width: $lSmall) {
    // iphone 6
    width: 25rem;
  }
  @media only screen and (min-width: $sMedium) and (max-width: $medium) {
    // iphone 6+
    width: 28rem;
  }
  @media (min-width: $lMedium) and (max-width: $sLarge) {
    //ipad
    width: 50rem;
    padding: 1rem;
  }
  @media (min-width: $large) and (max-width: $mLarge) {
    //ipad+
    width: 58rem;
  }
  @media (min-width: $mLarge) and (max-width: $xLarge) {
    //desktop
    width: 80rem;
  }
  @media (min-width: $xLarge) and (max-width: $xxLarge) {
    //ipad+
    width: 108rem;
  }
}

a {
  text-decoration: none;
  &:visited {
    color: #000000;
  }
}
