@import 'src/styles/mixins';
@import 'src/styles/colors';
@import 'src/styles/mediaquerys';

.dates {
  @include flexContainer(center, space-between, row);
  margin-top: 2rem;
  padding: 0 1rem;
  background: $black;
  .item {
    min-width: 8rem;
    width: 10rem;
    border-top: 5px solid $white;
    border-left: 5px solid $white;
    padding: 1rem 2rem 1rem 1rem;
    padding-right: 2rem;
    margin: 1rem 0;
    color: $white;
    transition: color 0.3s;
    &:hover {
      color: $redPrimary;
      transition: color 0s;
    }
  }
  .dateIcon {
    color: $white;
    &:hover {
      color: $redPrimary;
    }
  }

  @media (min-width: $medium) {
    padding: 1rem 2rem;
    .item {
      min-width: 8rem;
      width: 10rem;
      padding-right: 9rem;
      padding: 1rem 2rem;
    }
    > .item:first-child {
      padding-right: 9rem;
    }
  }
  @media (min-width: $lMedium) {
    .item {
      min-width: 12rem;
      width: 18rem;
    }
  }
}

.flex {
  @include flexContainer(center, center, row);
}
