@import 'src/styles/mixins';
@import 'src/styles/colors';

.wrapper {
  @include flexContainer(flex-start, right, column);
  max-width: 70rem;
  width: 100%;
  padding: 5rem;
  margin-bottom: 3rem;
  box-shadow: 0 3px 4px rgba($tunaBlack, 0.1);
  background: rgba($beachSand, 0.9);
  color: $redPale;
  z-index: 100;
  font-weight: 500;
  .body {
    width: 100%;
    font-size: 1.5rem;
    padding: 3rem 0 0;
  }
}

.header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.headWrapper {
  width: 100%;
}

.active {
  background: rgba($beachSand, 0.2);
}

.dates {
  align-self: center;
  display: inline-flex;
  min-width: 97%;
  margin-top: 2rem;
  padding: 1rem;
  background: $black;
  .item {
    border-top: 5px solid $white;
    border-left: 5px solid $white;
    padding: 1rem 2rem;
    color: $white;
    padding-right: 9rem;
    &:hover {
      color: $redPrimary;
    }
  }
  > .item:first-child {
    padding-right: 9rem;
  }
}

.title {
  margin: 0px 0 1.5rem;
  margin-top: 0;
  align-self: center;
  font-size: 1.5rem;
  line-height: 0.8;
}

h3 {
  margin-top: 0;
}

p {
  margin: 0;
  color: $black;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 3rem;
  color: $redPale;
}

.item {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 4px;
  padding-bottom: 1.3rem;
}

hr {
  border: 1px solid $black;
  width: 100%;
}

.category {
  margin-right: 2rem;
  width: 25%;
  p {
    display: inline;
    margin: auto;
  }
}

.categoryWrapper {
  display: flex;
  width: 70%;
}
